body {
/* 	background: url('/landing/bg.png') repeat-x white fixed; */
	min-height: 500px;
	max-width: 900px;
	min-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background:#ccc;
	color:#505050;
	text-align: center;
	border-color:#999;
	background-color:rgba(128,128,128,0.75);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
	background-image:-moz-linear-gradient(top,bottom,from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
	-khtml-box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;
	-moz-box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;
	box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;}
	
#header h1 {
	text-shadow: -1px -1px 0px #202020, 1px 1px 0px #fff;
	font-variant:small-caps;
	font-size: 350%;
}

#downloads_wrapper{
	float:right;
	padding-left:20px;
	padding-bottom:20px;
	margin-right: 0px;
}
.download {
	margin-bottom: 30px;
	margin-right:0.5em;
}
.download a, .link a{
	text-decoration: none;
}
.download img{
	float:left;
}
.link {
	float:left;
	display:inline;
	padding: 15px;
}
.demo-button img {
	border:none;
}

#badges {
	text-align: center;
}

	a img { text-decoration: none; border:0 px; }
	a:visited { text-decoration: none; border:0 px; }
	
#screenshots img { 
	padding: 10px;
	border: none;
}
@mixin shadow($color){
	-khtml-box-shadow: $color 0px 8px 24px;
	-moz-box-shadow: $color  0px 8px 24px;
	box-shadow: $color 0px 8px 24px;
}
@mixin rounded($radius) {
	-moz-border-radius:$radius;
	-webkit-border-radius:$radius;
	-opera-border-radius:$radius;
	-khtml-border-radius:$radius;
	border-radius:$radius;	
}
.demo-button {
	position:relative;
	display:inline-block;
	padding:0.25em 0.5em 0.3em 0.5em;
	text-align:center;
	cursor:pointer;
	border:2px solid #999;
	background-color:#666;
	background-color:rgba(128,128,128,0.75);
	font-size:1.5em;
	color:#fff;
	font-weight:bold;
	text-shadow:1px 1px 3px rgba(0,0,0,0.5);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
	background-image:-moz-linear-gradient(top,bottom,from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
	@include shadow(rgba(192,192,192,0.75));
	@include rounded(16px);
}
.demo-button span {
	position:absolute;
	display:block;
	width:94%;
	left:3.5%;
	top:0px;
	height:50%;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	background-color:rgba(255,255,255,0.25);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.75)), to(rgba(255,255,255,0)));
	background-image:-moz-linear-gradient(top,bottom,from(rgba(255,255,255,0.75)), to(rgba(255,255,255,0)));		
}

@mixin hover_bg($color){
	background-color:darken($color,10%);
	$colorN:scale-color(change_color($color,$alpha: 0.75),$red:-50%,$green:-50%,$blue:-50%);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from($colorN), to($color));
	background-image:-moz-linear-gradient(top,bottom,from($colorN), to($color));
}

$background_colors: rgba(96,192,255,0.9) rgba(192,128,128,0.9) rgba(128,192,128,0.9) rgba(255,255,128,0.9);
$shadow_colors: rgba(128,192,255,0.75) rgba(255,128,128,0.5) rgba(128,255,128,0.6) rgba(255,255,128,0.6);
@for $i from 1 through 4 {
	.shiny-demo-#{$i}:hover {
		@include hover_bg(nth($background_colors,$i));
		@include shadow(nth($shadow_colors,$i));
	}
}