/* Default */

html, body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, sans-serif;
	color: #2d2d2d;
	min-width: 760px;
}

* {
	box-sizing: border-box;
	vertical-align: top;
}

a {
	text-decoration: none;
	color: #38a88f;
	transition: color 0.2s ease-in-out;
}

a:hover {color: #80b1a6;}

hr {
	color: #2d2d2d;
	border-color: #2d2d2d;
	width: 60%;
}

.float-left {float: left;}
.float-right {float: right;}

.center {
	text-align: center;
}

/* Header */

header {
	position: sticky;
	top: 0;
	height: 80px;
	width: 100%;
	background-color: #2d2d2d;
}

header #title {
	color: #f1f1f1;
	line-height: 80px;
	font-size: 30px;
	margin: 0 1em;
	padding: 0;
	transition: color 0.2s ease-in-out;
}

header #title:hover {
	color: #80b1a6;
}

header nav {
	display: flex;
	justify-content: space-between;
	height: 80px;
	margin-right: 1em;
}

header nav a {
	color: #f1f1f1;
	line-height: 76px;
	font-size: 20px;
	margin: 2px 0.5em;
	display: inline-block;
}

header nav a::after {
	content: "";
	display: block;
	width: 0%;
	border-bottom: 2px solid #38a88f;
	margin: 0 auto;
	transition: width 0.2s ease-in-out;
}

header nav a:hover:after {
	width: 100%;
}

.container {
	width: 100%;
	padding: 1em;
}

section {
	margin: 1em 0 2em 0;
}

#screenshots div {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#screenshots div a {
	margin: 0.5em;
}

#screenshots div a img {
	border-radius: 4px;
	border: 1px solid #e1e1e1;
	transition: border 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#screenshots div a img:hover {
	border-color: #38a88f;
	opacity: 0.8;
}


#download table {
	width: 50%;
	margin: 1em auto 2em auto;
}

#download th,
#download td {
	text-align:center;
	vertical-align:top;
}

#download a {
	border: 1px solid #e1e1e1;
	display: block;
	padding: 1em 0;
	margin: 0.5em 1em;
	background: #e6e6e6;
	transition: border 0.5s ease-in-out;
	font-weight: 600;
}

#download a:hover {
	border: 1px solid #38a88f;
	background: #38a88f;
	color: #f1f1f1;
}

footer {
	width: 100%;
	padding: 1em;
}

/* Fancybox custom CSS */

.fancybox-image {
	border-radius: 4px;
}
.fancybox-caption {
	border: 0;
}
